version: '3.1'

services:
  momi-hebat:
    image: faisaluje/momi-hebat
    ports:
      - 8031:3001
    depends_on:
      - mongo-1
      - mongo-2
      - mongo-3
    volumes:
      - profile-pictures:/app/public/profile-pictures
    environment:
      MONGO_URI: mongodb://mongo-1:27017,mongo-2:27017,mongo-3:27017/momi-hebat?replicaSet=rs0
      SERVER_URL: http://110.136.78.105:8031
    networks:
      - mongo_replica_set

  mongo-1:
    image: mongo
    restart: always
    volumes:
      - db-data-1:/data/db
    ports:
      - 27354:27017
    command: mongod --replSet rs0
    networks:
      - mongo_replica_set

  mongo-2:
    image: mongo
    restart: always
    volumes:
      - db-data-2:/data/db
    ports:
      - 28354:27017
    command: mongod --replSet rs0
    networks:
      - mongo_replica_set

  mongo-3:
    image: mongo
    restart: always
    volumes:
      - db-data-3:/data/db
    ports:
      - 29354:27017
    command: mongod --replSet rs0
    networks:
      - mongo_replica_set

volumes:
  db-data-1:
  db-data-2:
  db-data-3:
  profile-pictures:

networks:
  mongo_replica_set:
