<table style="width: 100%; margin-top: 20px;">
  <tbody>
    <tr>
      <td style="width: 33%;" align="center">
        Yang Menerima
        <br />
        <br />
        <br />
        <br />
        _________________
      </td>
      <td style="width: 33%;" align="center">&nbsp;</td>
      <td style="width: 33%;" align="center">
        Hormat Kami
        <br />
        <br />
        <br />
        <br />
        _________________
      </td>
    </tr>
  </tbody>
</table>