<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://fonts.googleapis.com/css?family=Muli:200,300,400,600,700,800,900,italic"
    />

    <script
      src="https://kit.fontawesome.com/ab04eba8e8.js"
      crossorigin="anonymous"
    ></script>

    <style>
      body {
        font-family: 'Muli', sans-serif;
        margin: 0;
        padding: 8px;
        width: 96.5%;
        height: auto !important;
        overflow: initial !important;
        font-size: 8pt;
      }

      .column {
        padding: 4px;
      }

      .border {
        border: 1px solid;
      }

      .border-x {
        border-right: 1px solid;
        border-left: 1px solid;
      }

      .border-t {
        border-top: 1px solid;
      }
    </style>

    <title>Invoice Paket Momi Hebat</title>
  </head>
  <body>
    <table
      style="border-bottom: 1px solid black; padding-bottom: 12px; width: 100%;"
    >
      <tbody>
        <tr>
          <td rowspan="3" style="width: 65%;">
            <p style="font-weight: 900; font-size: 12pt;">Paket Momi Hebat</p>
            <i class="fas fa-home" style="margin-right: 4px;"></i> Komplek
            Bojong Malaka Indah G5 No. 25 Bandung <br />
            <i class="fab fa-whatsapp" style="margin-right: 4px;"></i>
            085720977414 <br />
            <i class="fab fa-instagram" style="margin-right: 4px;"></i>
            paketmomihebat
          </td>
          <td
            colspan="2"
            align="center"
            style="font-size: 16pt; font-weight: lighter; height: 54px;"
          >
            TKP/K/2020/246
          </td>
        </tr>
        <tr>
          <td
            align="right"
            style="
              font-weight: lighter;
              padding-right: 12px;
              vertical-align: bottom;
            "
          >
            Tanggal
          </td>
          <td valign="bottom">31 Desember 2020</td>
        </tr>
        <tr>
          <td
            align="right"
            style="
              font-weight: lighter;
              padding-right: 12px;
              vertical-align: top;
            "
          >
            Jenis
          </td>
          <td valign="top">Pengambilan Kartu Paket</td>
        </tr>
      </tbody>
    </table>

    <p style="font-style: italic; margin: 20px 0 10px 0;">
      Catatan : Diambil Agen DYAH A EKA W
    </p>

    <table style="width: 100%; border-collapse: collapse;">
      <thead>
        <tr>
          <th style="width: 40px;" class="border">No.</th>
          <th class="border">Nama Kartu Paket</th>
          <th class="border">Qty</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td class="column border-x">1</td>
          <td class="column border-x">HEBATKID'S(2000)</td>
          <td align="center" class="column border-x">400</td>
        </tr>
        <tr>
          <td class="column border-x">1</td>
          <td class="column border-x">HEBATKID'S(2000)</td>
          <td align="center" class="column border-x">400</td>
        </tr>
        <tr>
          <td class="column border-x">1</td>
          <td class="column border-x">HEBATKID'S(2000)</td>
          <td align="center" class="column border-x">400</td>
        </tr>
        <tr>
          <td class="column border-x">1</td>
          <td class="column border-x">HEBATKID'S(2000)</td>
          <td align="center" class="column border-x">400</td>
        </tr>
        <tr>
          <td class="column border-x">1020</td>
          <td class="column border-x">HEBATKID'S(2000)</td>
          <td align="center" class="column border-x">40.000</td>
        </tr>
        <tr class="border-t">
          <th colspan="2" align="right" class="column" style="padding: 10px;">
            Total :
          </th>
          <th align="center" class="column">400</th>
        </tr>
      </tbody>
    </table>

    <table style="width: 100%; margin-top: 40px;">
      <tbody>
        <tr>
          <td style="width: 33%;" align="center">
            Yang Menerima
            <br />
            <br />
            <br />
            _________________
          </td>
          <td style="width: 33%;" align="center">&nbsp;</td>
          <td style="width: 33%;" align="center">
            Hormat Kami
            <br />
            <br />
            <br />
            _________________
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
